<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
    <meta name="viewport" 
    content="width=device-width,
    initial-scale=1.0">
    <title>Glowing_button</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <button class="btn">log in</button>
  </body>
</html>

CSS ....

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppind', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.btn {
  background: #000;
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: .1em;
  color: #0ef;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #0ef;
  border-radius: 30px;
  padding: 10px 30px;
  z-index: 1;
  overflow: hidden;
  transition:color 1s, box-shadow 1s;
  opacity: 0;
  animation: SlideTop 3s ease forwards;
  animation-delay: .4s;
}

.btn:hover {
  transition-delay: 0s, 1s;
  color: #fff;
  box-shadow:
      0 0 10PX #0ef,
      0 0 20PX #0ef,
      0 0 40PX #0ef,
      0 0 80PX #0ef,
      0 0 160PX #0ef;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0%;
  height: 100%;
  background:#0ef;
  transform: skewX(35deg);
  z-index: -1;
  transition: 1s;
}

.btn:hover:before {
  width: 100%;
}


/* keyframes */
@keyframes SlideRight {
  0% {
    transform: translateX(-100PX);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideLeft {
  0% {
    transform: translateX(100PX);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes SlideTop {
  0% {
    transform: translateY(100PX);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes SlideBottom {
  0% {
    transform: translateY(-100PX);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes ZoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
